@CHARSET "UTF-8";

.result-table {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}

.subtitle, .description, .subtitle-left, .subtitle, .subtitle-result,
	.subtitle-center, .subtitle-result-right, .subtitle-center-top {
	font-size: .8em;
}

.subtitle-result, .subtitle-result-right {
	padding-top: 4px;
	padding-right: 5px;
	display: table-cell;
	padding-right: 5px;
}

.subtitle-result-right {
	padding-left: 20px;
	padding-right: 5px;
}

.outer {
	display: table;
}

.subtitle-state {
	font-size: .8em;
	text-align: center;
	padding-right: 4px;
}

.subtitle-left {
	padding-left: 10px;
}

.subtitle {
	padding-left: 15px;
}

.subtitle-center {
	text-align: center;
}

.subtitle-center-top {
	width: 150px;
	height: 10px;
	vertical-align: top;
	padding-top: 4px;
	padding-right: 23px;
	text-align: center;
}

.field {
	padding-right: 5px;
}

.field-top {
	padding-top: 1px;
	padding-right: 5px;
	vertical-align: top;
	padding-left: 3px;
}

.drop {
	border: 1px solid #111;
	background: transparent;
	padding: 5px;
	font-size: 12px;
	border: 1px solid #ccc;
	height: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
}

.compare-button {
	padding: .8em;
	height: 15px;
}

.submit-search {
	padding: 1em;
}