@CHARSET "UTF-8";

body {
	background: #333333;
	background-image:
		url("https://static1.squarespace.com/static/53f53358e4b0900a47f2d838/t/53f65013e4b0f4d4f2eb5ccd/1408651285345/american_usa_flag_fifa_world_cup_2014_wallpaper-dark.jpg?format=2500w");
	background-size: 140%;
}

#map-canvas {
	border-radius: 1em;
}

h1 {
	color: white;
}

body {
	font-family: 'Quicksand', sans-serif;
	margin: auto; align : center;
	padding: 10px;
	padding-bottom: 40px;
	align: center;
}

.wrapper {
	margin: 0 auto;
	position: relative;
}

.left, .right {
	border: 4px #c4b6b6;
	height: 200px;
	color: white;
	padding-left: 25px;
	padding-right: 25px;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

#menu-content {
	padding-top: 15px;
}

.menu-content-right {
	display: block;
	margin-left: 30px;
	float: right;
}

.center {
	text-align: center;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.box {
	width: 475px;
	height: 400px;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;;
	border-radius: 1em #77700;
}

.overlay {
	position: relative;
}

.overlay:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .5;
	border-radius: 1em;
}

.overlay:hover:after {
	opacity: 0;
}

.red:after {
	background-color: red;
}

.blue:after {
	background-color: blue;
}

.button1 {
	background-color: #e7e7e7; /* Green */
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
}

.button2 {
	background-color: #e7e7e7;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
}

h3 {
	color: white;
}

.search {
	width: 190px;
	position: relative;
	color: white;
	align: center;
	float: left;
	padding: 0;
}

.search-button {
	background-color: #e7e7e7;
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
}

.searchfields {
	padding-bottom: 25px;
}

.add {
	text-indent: 30px;
	color: white;
	width: 150px;
	position: relative;
	padding: 0;
}

.info {
	color: white;
	padding-top: 30px; text-align : bottom;
	bottom: 0;
	text-align: bottom;
}

h1 {
	padding: 50px;
}

.newState {
	padding-top: 30px;
}